%html 
  %head 
    %title Game of Life 
    %link{:href=>"/style.css", :type=>"text/css", :rel=>"stylesheet"}
    = include_gon 
  %body 
    = yield 
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/gameOfLife.js"}