body{
  font-family: ;
  padding: 20px;
}

.row{
  white-space: nowrap;
}

.cell{
  height: 15px;
  width: 15px;
  margin: 2px;
}

.alive {
  background-color: black;
}

.dead {
  background-color: red;
}

.cell-container {
  display: inline-block;
}
